# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.0.2

# SocketIO
flask-socketio==3.1.1
eventlet

# Automated tests
pytest==3.9.3
