.ranking{
  text-align: center;
  margin-top: 5em;
}
td{
  padding-top: 10px;
}
table{
  width: 100%;
}
.rankingSelect{
  display: flex;
  justify-content: space-around;
}
.showOnFocus{
  display: none;
}
.showOnFocus:target{
  display: table-row-group;
}
