<article class="rules">
    <header class="rules__header">
        <h1 class="rules__header__title">Rules</h1>
    </header>
        <div class="rules__content">
          <h1 class="t1">Rules</h1>
            <div>
                <h2 class="title t2">Goal</h2>
                The goal of the game is to beat or block all enemy pawns.
                Block means that they don't have moves to make.
                If none of player is able to block or beat enemy pawns, and each player makes 3 moves by queens without beating any pawns, game ends with draw
            </div>
            <div>
                <h2 class="title t2">Moves</h2>
                    The first move belongs to player, playing with white pawns.
                    Later players make moves one by one.
                <div class="rules__content--right">
                    <h3 class="title t2">Pawns</h3>
                    <ul class="list">
                        <li>Normal pawns can move by one field, foreward diagonally on free fields.</li>
                        <li>All beatings are obligatory.</li>
                        <li>During beating, you can't jump over same pawn more than once</li>
                        <li>
                          The beating takes place, by jumping over neighboring pawn, on the field in same direction, just after beated pawn field, it has to be free field.
                          Beated pawns are removed from board.
                        </li>
                        <li>Pawns can beat both foreward and backward, diagonally</li>
                        <li>
                          In one move it's possible to beat more than one enemy pawn, jumping over next pawns.
                        </li>
                        <li>
                          If there is possibility to make more than one beating move, the one wchich beats highest number of enemy pawns is obligatory.
                        </li>
                    </ul>
                    <h3 class="title t2">Queens</h3>
                    <ul class="list">
                        <li>
                          If pawn move ends on last row of the board, it becomes a queen.
                        </li>
                        <li>
                          Queens can travel in one move, by any amount of fields, forwareward and backward diagonally.
                        </li>
                        <li>
                          Queens can beat enemy pawns from any distance, and after first jump they can continue beating as normal pawn would do.
                        </li>
                        <li>
                          Queens have same beating obligations as normal pawns.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</article>
