{% extends "layout.jinja2" %}

{% block title %}
Min-max checkers
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/game.css') }}">
{% endblock %}

{% block content %}
<div id="JScheckers">
  Aby grać musisz mieć włączony JS
  <a href="{{url_for('choose_game')}}">Leave</a>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dist/game_hot_seat.js') }}"></script>
{% endblock %}
