{% extends "layout.jinja2" %}

{% block title %}
Room index
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/choose_game.css') }}">
{% endblock %}

{% block content %}
    {% include '/misc/message.jinja2' %}
<div class="gridContainer gridContainer--withCenter">
  <section class="chooseGame">
    <div class="chooseGame__title">
      <h2 class="title">CheckersPy</h2>
    </div>
    <div class='actionWindow'>
      <nav class="menu">
        <span class="menu__item">
          <a class="menu__item__title" href="{{url_for('hot_seat')}}">Play 2 players same computer</a>
        </span>
        <span class="menu__item">
          <a class="menu__item__title" href="{{ url_for('vs_computer') }}">Play player vs computer</a>
        </span>
        <span class="menu__item">
            <span class="menu__item__title">online vs other player</span>
            <form class="menu__item__form" method="post">
                <input type="submit" name="cmd" value="create_room">
                <input type="submit" name="cmd" value="join_any_room">
                <br>
                <span>Joinable rooms amount</span>
                <div id="JS-activeRooms" class="JS-activeRooms">
                    {{ rooms_number }}
                </div>
            </form>
        </span>
      </nav>
    </div>
  </section>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dist/choose_game.js') }}"></script>
{% endblock %}
