{% extends "layout.jinja2" %}

{% block title %}
Min-max checkers
{% endblock %}

{% block content %}
<div id="JScheckers">

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='dist/checkersGame.js') }}"></script>
{% endblock %}
