{% extends "layout.jinja2" %}

{% block title %}
Ranking
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/choose_game.css') }}">
{% endblock %}

{% block content %}
    <div class="gridContainer gridContainer--withCenter">
        <div class="gridContainer--center">

        </div>
    </div>
{% endblock %}

